<div class="container_16">
	<div class="hero-unit">
		<h1> Welcome to My Media Library</h1>
		<p> This website, built with Ruby on Rails and powered by SQL allows you to enter, sort, and view your media library through a clean and informative frontend. Click on any of the categories below to begin.<p>
	</div>
	<div class="centerDiv">
		<div class="grid_8">
			<a href="/books">
				<div class="booksButton">				
				</div>
			</a>
			<a href="/games">
				<div class="gamesButton">				
				</div>
			</a>
		</div>
		<div class="grid_8 no_space">
			<a href="/movies">
				<div class="moviesButton">				
				</div>
			</a>
			<a href="/musics">
				<div class="musicButton">				
				</div>
			</a>
		</div>
	</div>
</div>
<div class="container_16">
    <div class="grid_16">
      <hr>
  </div>
  <div class="grid_9 prefix_7">
    <div class="footer">
    © 2013 Daniel Segal (<a href="mailto:dls148@case.edu">dls148@case.edu</a> and Samuel Fleckenstein (<a href="mailto:sef44@case.edu">dls148@case.edu</a>)
    </div>
  </div>
</div>
</br> </br>