<div class="container_16">
  <div class="grid_16">
    <h1>Listing people</h1>

<table id="media" class="table-hover">
  <tr>
    <td><b>Name</b></td>

  </tr>

<% @people.each do |person| %>
  <tr>
      <td><%= Person.find_by_sql('SELECT name 
                          FROM People
                          WHERE people.id = ' + person.id.to_s + '')[0]['name'] %></td>
  
      <td><%= link_to 'Edit', edit_person_path(person) %></td>
  </tr>
<% end %>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
</div>
</div>
