<div class="container_16">
	<div class="grid_16">
		<h1>Editing movie - <%= Movie.find_by_sql('SELECT title FROM Movies M WHERE M.id = ' + params[:id] + '')[0]['title'] %></h1>

<%= render 'form' %>

<div class="centered">
		<%= button_to "Delete Movie", {:controller => :movies, :action => 'destroy', :id => @movie.id }, :method => :delete, :confirm => "Are you sure ?"%>
</div>

</div>
</div>
