<div class="container_16">
	<div class="grid_16">
		<h1>Editing movie</h1>

<%= render 'form' %>

<%=button_to "Delete",movie_path(@movie), 'data-method' => :delete, :class => "delete", :confirm => "Are you sure ?", :method => :get, :class=> "delete" %> 

</div>
</div>
