.books{
  background-image: url('/assets/books.jpg');
  background-attachment:fixed;
}

.music{
  background-image: url('/assets/music.jpg');
  background-attachment:fixed;
}

.movies{
  background-image: url('/assets/movies.jpg');
  background-attachment:fixed;
}

.games{
  background-image: url('/assets/games.jpg');
  background-attachment:fixed;
}

.navbar{
	margin-bottom: 0px;
}

.container_16{
  background-color: #fff;
  padding-left: 40px;
  padding-right: 40px;
}

.centered{
  text-align: center;
}

.spacer{
  margin-right: 20px;
}

.books ul li{
	display: inline;
}

.books ul{	
	padding-left: 700px;
}

.movies ul li{
	display: inline;
}

.movies ul{	
	padding-left: 700px;
}
.games ul li{
	display: inline;
}

.games ul{	
	padding-left: 700px;
}

.music ul li{
	display: inline;
}

.music ul{	
	padding-left: 650px;
}

table#media{
	  table-layout: fixed;
    width: 1000px;
}


.navbar .nav > li > a:hover{
color:#cc412a !important;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}