.books{
  background-image: url('/assets/books.jpg');
  background-attachment:fixed;
}

.music{
  background-image: url('/assets/music.jpg');
  background-attachment:fixed;
}

.movies{
  background-image: url('/assets/movies.jpg');
  background-attachment:fixed;
}

.games{
  background-image: url('/assets/games.jpg');
  background-attachment:fixed;
}

.form_field {
  display: block;
  margin-bottom: -20px !important;
  margin-top: 20px;
}



.navbar{
	margin-bottom: 0px;
}

.container_16{
  background-color: #fff;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

#edit{
  width: 20px !important;
}

.centered{
  text-align: center;
}

.spacer{
  margin-left: 110px;
}

.books ul li{
	display: inline;
}

.books ul{	
	padding-left: 700px;
}

.movies ul li{
	display: inline;
}

.movies ul{	
	padding-left: 700px;
}
.games ul li{
	display: inline;
}

.games ul{	
	padding-left: 700px;
}

.music ul li{
	display: inline;
}

.music ul{	
	padding-left: 650px;
}

table#media{
	  table-layout: fixed;
    width: 1000px;
}

.booksc, .booksb
{ display: block; background: url('bookButton.png') no-repeat; }
 
.booksc { background-position: -0px -0px; width: 434px; height: 245px; }
.booksb { background-position: -0px -245px; width: 434px; height: 245px; }


.booksButton{
    display: block; 
    width: 434px; height: 245px; 
    background-image: url('/assets/bookButton.png'); 
    background-position: bottom; 
}

.booksButton:hover {
    background-position: top; 
}

.gamesButton{
    display: block; 
    width: 434px; height: 245px; 
    background-image: url('/assets/gameButton.png'); 
    background-position: bottom; 
}

.gamesButton:hover {
    background-position: top; 
}

.moviesButton{
    display: block; 
    width: 434px; height: 245px; 
    background-image: url('/assets/movieButton.png'); 
    background-position: top; 
}

.moviesButton:hover {
    background-position: bottom; 
}

.no_space{
  margin-left: -36px;
}

.centerDiv{
  padding-left: 36px;
}

.text{
  width: 600px;
  height: 190px;
}

.submit{
  padding-left: 320px;
  padding-top: 100px;
}

.lower{
  margin-bottom: 80px;
}

.delete{
  margin-left: 480px;
  margin-top: -90px;
}

.creator{
  margin-left: 150px;
  margin-top: -127px;
}
.musicButton{
    display: block; 
    width: 434px; height: 245px; 
    background-image: url('/assets/musicButton.png'); 
    background-position: bottom; 
}

.musicButton:hover {
    background-position: top; 
}

.navbar .nav > li > a:hover{
color:#cc412a !important;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

/* Footer
-------------------------------------------------- */
.footer {
    font-family: 'Georgia', sans-serif;
    font-size: 14px;
    color: #777;
}

.footer a:link {color:      #777;}      /* unvisited link */
.footer a:visited {color:   #777;}  /* visited link */
.footer a:hover {color:     #f24738;}  /* mouse over link */
.footer a:active {color:    #777;}