<div class="container_16">
  <div class="grid_16">
  	<h1>Editing music</h1>

<%= render 'form' %>

<%= button_to "Delete Music", {:controller => :musics, :action => 'destroy', :id => @music.id }, :method => :delete, :confirm => "Are you sure ?", :class => "delete" %>

</div>
</div>