<div class="container_16">
  <div class="grid_16">
  	<h1>Editing music - <%= Music.find_by_sql('SELECT title FROM Musics M WHERE M.id = ' + params[:id] + '')[0]['title'] %></h1>

<%= render 'form' %>

<%= button_to "Delete Music", {:controller => :musics, :action => 'destroy', :id => @music.id }, :method => :delete, :confirm => "Are you sure ?", :class => "delete2" %>

</div>
</div>